@charset "UTF-8";
@import url("../main.css");
.main-container {
  min-width: 375px;
  margin: 24px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--gray);
  box-shadow: 0 4px 6px -6px black;
  margin-left: -24px;
  /* Annule le margin du main-container sur le côté gauche */
  margin-right: -24px;
}

.introduction {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
}
.introduction h2 {
  width: 275px;
}
.introduction h4 {
  width: 315px;
}
.introduction button {
  color: white;
  background: linear-gradient(var(--secondary), var(--primary));
  border-radius: 50px;
  border: none;
  padding: 20px;
}

.functionment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 20px;
  justify-content: center;
}
.functionment h2 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 8px;
}
.functionment .functionality {
  background-color: var(--light-gray);
  width: 335px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin-left: 10px;
  padding: 15px 0;
  padding-left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.functionment .functionality .number {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  left: -34px;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
}
.functionment .functionality .fa-solid {
  color: var(--shadow-gray);
}
.functionment .functionality .fa-store {
  color: var(--primary);
}

.restaurants {
  background-color: var(--light-gray);
  padding: 68px 24px;
}
.restaurants h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.cards-restaurant {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cards-restaurant .card-restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 15px;
}
.cards-restaurant .card-restaurant img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 230px;
}
.cards-restaurant .card-restaurant .detail {
  display: flex;
  flex-direction: row;
  padding: 18px 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}
.cards-restaurant .card-restaurant .detail .text-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cards-restaurant .card-restaurant .detail .text-description h3,
.cards-restaurant .card-restaurant .detail .text-description h4 {
  margin: 0;
}
.cards-restaurant .card-restaurant .detail i {
  font-size: 25px;
}
.cards-restaurant .card-restaurant .detail .color-heart {
  background: linear-gradient(var(--primary), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

main {
  width: 100%;
}/*# sourceMappingURL=style.css.map */