* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 300;
  font-size: 18px;
}

p {
  font-weight: 500;
  font-size: 16px;
}


.main-container {
  min-width: 375px;
  margin: 24px;
}

header {
  display: flex;
  justify-content: center;

  .logo {
    width: 197px;
    height: 36px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
